body {
    background-color: #F0F8FF;
}

h1 {
    color: #8B0000;
    text-align: start;
    margin-left: 16px;

}

.list { 
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    text-align: center;
}

.item img {
    width: 250px;
    height: 180px;
}

.item button {
    margin-top: 8px;
    background-color: palegreen;
    font-size: medium;
    padding: 4px;
}